<#@ template language="C#" debug="True" #>
<#@ output extension="txt" #>
<#@ include file="T4Toolbox.tt" #>
<#

	//@ import namespace="Dddml.Core.Domain" //
	//@ include file="%DddmlDotNetToolsSolutionDir%\Dddml.T4.Templates.Java\Domain\AggregateDomainGenerator.tt" //
	//@ include file="..\LoadBoundedContext.tt" //

	//foreach (var aggregate in boundedContext.Aggregates.Values)
	//{
		//var generator = new AggregateDomainGenerator(aggregate);
	    //generator.Run();
	//}

#>