<#@ template language="C#" debug="True" #>
<#@ output extension="txt" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="Templates\AttributeSetInstanceExtensionFieldGroupDddmlTemplate.tt" #>
<#@ include file="AttributeSetInstanceExtensionFieldMetadataUtils.ttinclude" #>
<#
// <copyright file="AttributeSetInstanceExtensionFieldGroupDddml.tt" company="dddml.org">
//  Copyright © . All Rights Reserved.
// </copyright>

 	var attributeSetInstanceExtensionFieldGroupDddmlTemplate = new AttributeSetInstanceExtensionFieldGroupDddmlTemplate();
    attributeSetInstanceExtensionFieldGroupDddmlTemplate.Output.Encoding = new System.Text.UTF8Encoding(false);
	attributeSetInstanceExtensionFieldGroupDddmlTemplate.RenderToFile("AttributeSetInstanceExtensionFieldGroupDddml.yaml");

#>
