spring:
  datasource:
    #url: jdbc:mysql://10.200.50.55:3306/wms_default?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false
    #username: root
    #password: 1qaz!QAZ
    url: jdbc:mysql://localhost/test?characterEncoding=utf8&serverTimezone=GMT%2b8
    username: root
    password: 123456
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.data.jpa.JpaRepositoriesAutoConfiguration
  jpa:
    open-in-view: false
  jackson:
    time-zone: UTC
    date-format: yyyy-MM-dd'T'HH:mm:ss.SSSX
    default-property-inclusion: NON_EMPTY

server:
  port: 8080
  servlet-path: /api
  compression:
    enabled: true
    min-response-size: 20480  #20K 以上开启gzip
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json,application/xml

jwt:
  secret: mySecret