<#@ template language="C#" debug="True" #>
<#@ output extension="txt" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Dddml.Core.Dom" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="%DddmlDotNetToolsSolutionDir%\Dddml.T4.Templates\Sql\DropRViewNameConflictedTablesTemplate.tt" #>
<#@ include file="$(SolutionDir)Dddml.Wms.Iam\LoadBoundedContext.tt" #>
<#
    
    var template = new DropRViewNameConflictedTablesTemplate(mviewObjects);
    template.Output.Encoding = new System.Text.UTF8Encoding(false);
	template.RenderToFile(String.Format("DropRViewNameConflictedTables.sql", ""));      

#>
